.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}



.container-informacion {
    width: 100%;
    display: inline-flex;
 }
 
 .container-informacion>.columna-1 {
    padding-top: 1px;
    width: 50%;
    padding-left: 25px;
    padding-right: 35px;
 }
 .container-informacion>.columna-1>p {
    text-align: justify;
 }
 
 .container-informacion>.columna-2 {
    padding-top: 1px;
    width: 50%;
 }


.opcion{
    cursor: pointer;
    padding: 6px;
    text-align: justify;
}

#contenedor-opciones{
    border-left: 1px solid rgba(255, 0, 0, 0.493) ;
    border-right:1px solid rgba(255, 0, 0, 0.493);
    border-bottom: 1px solid rgba(255, 0, 0, 0.493);
    padding: 5px;
}
.titulocategoria{
    background-color: rgba(247, 45, 52, 0.815);
    font-weight: bold;
    border-top-left-radius:12px;
    border-top-right-radius: 12px;
    padding: 20px;
    text-align: center;
    color: whitesmoke;
}

.b-20{
    margin-bottom: 20px;
}
.noticia{
    margin-bottom: 20px;
    text-align: justify;
}


.banner-noticia{
   width: auto;
   height: auto;
   max-height: 325px;
   max-width: 100%;
   margin-bottom: 10px;
}

.img-inicioSesion{
text-align: center;
}



.periodico{
    width: 50px;
    height: 50px;
}
.titulo{
    font-size: 1.5em;
    text-decoration: none;
    color: black;
}

.titulo-inicio{
    font-size: 1.5em;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px black;

}
.titulo-inicio:hover{
    color: dimgrey;
}
.titulo:hover{
    color: dimgrey;
}
.fecha{
    padding-left: 40%;
    font-size: 1.5em;
    padding-top: 5px;
    color: white;

}

.encabezado{
    background-color: rgba(126, 217, 87, 0.815);
    text-align: center;
    
    
}
.icon{
    width: 30px;
    height: 30px;
}

.f-icon{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.f-icon:hover{
    color:white;
}
.footer{
    background-color: dimgrey;
    color: white;
    width: 100%;
    height: 100%;
    margin: auto;
}

.fin{
    max-width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: black;
    
}

.nose{
    text-align: center;
}

iframe {
    width:100%;
}